priority -50

global !p
endglobal

snippet commit "descriptive commit" b
${1:feat}(${2:scope}): ${3:commit}

This commit $0

Ref: ABO-${4}
endsnippet

snippet Dep "Depends-on" b
Depends-on: $0
endsnippet

snippet Ref "Ref" b
Ref: ABO-$0
endsnippet

snippet BRE "BREAKING CHANGE" b
BREAKING CHANGE: $0
endsnippet

